# OS / editors
.DS_Store
*.swp
.vscode/

# Dependencies & builds (monorepo-friendly)
**/node_modules/
**/dist/
**/build/


# env
*.env
.env
server/.env
client/.env
**/.env*
!**/.env.example

# Tests & logs
**/coverage/
**/*.log
